* { box-sizing: border-box}
[hidden] {display: none !important}

/* #f3fffa */

html {
  --foreground: #333;
  --background: white;
  --primary: #2196f3;
  --secondary: #2196f30f;
  --spacing-s: 8px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --sans: 'Source Sans Pro';
  --serif: 'Lora';
  --mono: 'Source Code Pro';
}

body {
  font-family: var(--serif), serif;
  font-weight: 200;
  margin: 2em;
  background: var(--background);
  color: var(--foreground);
  line-height: 1.75;
  max-width: 900px;
  background: #fafafa;
}

h1 {
  display: inline-block;
  font-size: 40px;
  /* background: var(--primary); */
}

.title {
  font-size: 60px;
  font-weight: 600;
}
p.subtitle {
  margin-top: 0px;
}

h1, h2, h3, h4 {
  margin-top: var(--spacing-xl);
  color: #333;
}

h2, h3, h4 {
  font-family: var(--sans), sans-serif;
}

p {
  margin-top: var(--spacing-l);
  font-size: 16px;
}

ul, li { list-style-position: inside;  margin-left: 0; padding-left: 0; }

ul > li, ol > li {
  margin-bottom: var(--spacing-s);
  line-height: 1.5;
}

ul.no-bullet {
  list-style-type: none;
}

a:not(.glitch-remix):link, a:not(.glitch-remix):visited {
  text-decoration: none;
  border-bottom: 2px solid var(--primary);
  color: var(--foreground);
  transition: background 0.2s linear;
}

a:hover {
  background: var(--secondary) !important;
}

.glitch-remix img {
  height: 30px;
  vertical-align: text-bottom;
}

pre, code {
  font-size: 15px;
  padding: 4px;
  font-family: inherit;
  background: var(--secondary);
  color: black;
}

footer {
  margin: var(--spacing-xl) 0;
  padding-top: var(--spacing-l);
  border-top: 10px solid var(--secondary);
}

img {
  background-color: var(--secondary);
}

/* type */
.post-meta {
  font-size: 12px;
  font-family: var(--mono);
  color: #e1612d;
  font-weight: 600;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.avatar {
  height: 20px;
  vertical-align: middle;
}

.button {
  font-size: inherit;
  font-family: inherit;
  border-radius: 3px;
  border: none;
  background: var(--secondary);
  padding: 8px 16px;
  box-shadow: 6px 7px var(--primary);
  cursor: pointer;
  transition: background 0.2s linear;
}

.button:hover {
  background: var(--primary);
}

.button:active {
  box-shadow: none;
}
