* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

html {
  --foreground:   #333; /* text */
  --background:   #fff4ef;
  --primary:      #e1612d; /* red */
  --secondary:    #ffd13a;  /* yellow */
  --spacing-s:    8px;
  --spacing-m:    24px;
  --spacing-l:    32px;
  --spacing-xl:   48px;
  --sans:         "Source Sans Pro";
  --serif:        "Lora";
  --mono:         "Source Code Pro";
}

body {
  font-family: var(--serif), Georgia, serif;
  font-weight: 200;
  margin: 2em;
  background: var(--background);
  color: var(--foreground);
  line-height: 1.75;
  max-width: 900px;
}

h1 {
  display: inline-block;
  font-size: 56px;
}

h1,
h2,
h3,
h4 {
  margin-top: var(--spacing-xl);
  color: var(--foreground);
}

h2,
h3,
h4 {
  font-family: var(--sans), sans-serif;
}

p {
  margin-top: var(--spacing-l);
  font-size: 16px;
}

ul,
li {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

ul > li,
ol > li {
  margin-bottom: var(--spacing-s);
  line-height: 1.5;
}

ul.no-bullet {
  list-style-type: none;
}

a:not(.glitch-remix):link,
a:not(.glitch-remix):visited {
  color: var(--foreground);
  text-decoration-color: var(--foreground);
  text-decoration-thickness: .125em;
  text-underline-offset: 3px;
  transition: background 0.2s linear;
}

a:hover {
  background: var(--secondary) !important;
}

.glitch-remix img {
  height: 30px;
  vertical-align: text-bottom;
}

pre,
code {
  font-size: 15px;
  padding: 4px;
  font-family: var(--mono);
  background: var(--secondary);
  color: var(--foreground);
}

footer {
  margin: var(--spacing-xl) 0;
  padding-top: var(--spacing-l);
}

img {
  background-color: var(--secondary);
}

/* type */
caption,
.meta-text { 
  font-size: 12px;
  font-family: var(--mono), monospace;
  color: var(--primary);
  font-weight: 600;
}

.horizontal-button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}

/* .avatar {
  height: 20px;
  vertical-align: middle;
} */

.button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  background: var(--foreground);
  color: var(--background);
  padding: 8px 16px;
  box-shadow: 3px 3px var(--primary);
  cursor: pointer;
  transition: background 0.2s linear;
}

.button:hover {
  background: var(--primary);
  box-shadow: 3px 3px var(--foreground);
}

.button:active {
  box-shadow: none;
}
