<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle or siteData.name }}</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{ content | safe }}
    
    <h2>All posts</h2>
    <ul>
      {%- for post in collections.all -%}
        <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>
    
    <h2>In this webring</h2>
    <ul>
      {%- for friend in friends -%}
        <li><a href="https://{{ friend.domain }}.glitch.me">{{ friend.domain }}</a> -- {{ friend.description }}</li>
      {%- endfor -%}
    </ul>
  </body>
  <script>
    
    
  </script>
</html>