<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle or siteData.name }}</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Source+Code+Pro:600|Source+Sans+Pro:700,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <p class="post-meta">Posted on {{ page.date.toLocaleDateString() }} </p>

    <h1>{{ title }}</h1>

    {{ content | safe }}

    <footer>
      <a href="/">Home</a>
    </footer>
  </body>
</html>
