<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle or siteData.name }}</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
  </head>
  <body>
    {{ content | safe }}
    <h2>Posts</h2>
    <ul>
    {%- for post in collections.all -%}
      <li>{{ post.data.title }}</li>
    {%- endfor -%}
    </ul>

  </body>
</html>