<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle or siteData.name }}</title>
    <link href="../../css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Source+Code+Pro:600|Source+Sans+Pro:700,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.glitch.com/18e1b6c5-abb9-4483-a1ce-3c97822dcbc0%2Ffavicon.png" type="image/png">
    <style>
      .webring {
        padding-top: 40px;
        width: 100%;
        margin: 0 auto;
      }
      iframe {
        width: 100%;
        height: 60vh;
        margin-bottom: var(--spacing-m);
        border: 2px solid var(--foreground);
      }
    </style>
  </head>
  <body>
    <header>
      <p class="meta-text">A webring built with Glitch Collections</p>
      <h1>{{ title }}</h1>
    </header>

    {{ content | safe }}

    <div class="webring">
      {%- for friend in friends -%}
        <iframe data-src="https://{{ friend.domain }}.glitch.me" hidden></iframe>
      {%- endfor -%}
      <br>

      <div class="horizontal-button-row">
        <button class="button" onclick="previous()">Previous</button>
        <button class="button" onclick="random()">Random</button>
        <button class="button" onclick="next()">Next</button>
      </div>
    </div>

    <footer>
      <small>
        <a href="/">Home</a> | <em>Made by <a href="/about">jlord</a> on <a href="https://glitch.com/edit/#!/veil-look">Glitch</a></em>.
        <em>See my <a href="/webring/">webring of friends's sites</a>.</em>
      </small>
    </footer>
  </body>

  <script>
    // Buttons actions to loop through sites in the collection/webring.
    let index = 0;
    let iframes = document.querySelectorAll('iframe');
    show(0);

    function previous() {
      iframes[index].hidden = true;
      index = index === 0 ? iframes.length - 1 : index - 1;
      show(index);
    }
    function next() {
      iframes[index].hidden = true;
      index = index === iframes.length - 1 ? 0 : index + 1;
      show(index);
    }
    function random() {
      iframes[index].hidden = true;
      index = Math.floor(Math.random() * iframes.length);
      show(index);
    }
    function show(index) {
      iframes[index].hidden = false;
      iframes[index].src = iframes[index].dataset.src;
    }
  </script>
</html>
